html, body, section{
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  font-family: 'Muli', Sans-Serif;
  font-size: 16px;
}

.map_weather{
  display: flex;
  flex-direction: column;
}

.map_weather p{
  padding: 0;
}

#map{
  height: 60%;
  width: 100%;
  order:1;
}

.outer_zipcode{
  order:3;
  margin: 20px 10px;
}

.hidden{
  display:none !important;
}

.weather{
  order:2;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.date{
  order:1;
  display:flex;
  /* height: 150px; */
}

.date article:first-child{
  border-left: 0px;
}

.date article:last-child{
  border-right: 0px;
}

.date_box{
  width: 33%;
  height: 20px;
  padding: 10px;
  border-left: 1px black solid;
  border-right: 1px black solid;
}

.date_border{
  border-bottom: 1px black solid;
}

.date_box>p{
  margin: 0;
  text-align: center;
}

.gray{
  background-color:#d2d2d2;
}

.zipcode{
  order: 3;
  margin: 50px 20px 5px;
}

.app_title{
  font-family: 'Merriweather', Serif;
  text-align: center;
  color: #2b4839;
  margin: 30px 0 20px;
  font-size: 1.9rem;
}

.welcome{
  font-size: 1.3rem;
  line-height: 1.4em;
  margin: 0 0 20px;
}

.zipcode_form{
  text-align: center;
  margin: 0 0 10px;
}

.zipcode_input, .country_input{
  border: 0px;
  border-bottom: 1px black solid;
  margin: 0 auto 10px;
  display: block;
}

.zipcode_submit{
  margin: 5px auto 0;
}

.css_button{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  width: 6rem;
  background-color: #2b4839;
  color: #FFF;
  padding: 7px;
}

.weather_info{
  order:3;
}

.city_name{
  font-family: 'Merriweather', Serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin: 15px 0 10px;
}

.weather_icons{
  height: 80px;
  width: 80px;
  display: block;
  margin: 10px auto;
}

.weather_description{
  font-family: 'Merriweather', Serif;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #2b4839;
}

.weather_details{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.wind_details{
  margin: 0 15px 20px;
  line-height: 1.5em;
}

@media only screen and (min-width: 400px){
  .weather_details{
    font-size: 1.1rem;
  }

  .wind_details{
    margin: 0 30px 20px;
    line-height: 1.5em;
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 450px){
  .weather_details{
    width: 400px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 475px){
  .wind_details{
    text-align:center;
  }
}

@media only screen and (min-width: 700px){
  #map{
    height: 100%;
    width: 75%;
  }

  .map_weather{
    flex-direction: row;
  }

  .weather{
    width: 430px;
  }

  .weather_details{
    width: initial;
  }

  .outer_zipcode{
    width: 300px;
  }
}

@media only screen and (min-width: 1100px){
  .outer_zipcode{
    margin: 20px;
  }
}

@media only screen and (min-height: 680px){
  .zipcode{
    margin: 40px 20px 20px;
  }

  .app_title{
    margin: 30px 0 20px;
  }
}

@media only screen and (min-height: 700px){
  .zipcode{
    margin: 30px 20px 20px;
  }

  .app_title{
    margin: 20px 0 20px;
  }
}